[submodule "zenburn-emacs"]
	path = zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "solarized-emacs"]
	path = solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
